.shops {
    min-width: 100%;
    min-height: 100vh;

    /* display: flex;
    flex-direction: column;
    justify-items: center; */
}

.summaryList{
    width: 100%;

    list-style: none;
    font-size: calc(14px + 1vmin);
}

.shopsList {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.addShopBtn {
    margin: calc(10px + 2vmin) 0px;
}

.addShop {
    transform: translateY(0);
    transition: 0.3s ;
    z-index: 0;
    margin: calc(10px + 2vmin) 0px;
}
.addShopHide {
    composes: addShop;
    transform: translateY(-100%);
    z-index: -1;
}