.shops {
    min-width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-items: center;
}

.summaryList{
    list-style: none;
    font-size: calc(14px + 1vmin);
}

.shopsList {
    display: flex;
    margin: 0 auto;
}

.shopsButton {
    font-size: calc(12px + 1vmin);
    padding: 5px;
    background-color: red;
    border: none;
}

.shopsButtonFocused {
    composes: shopsButton;
    background-color: blue;
}