.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 3vmin);

  display: flex;
  align-items: center;
  justify-items: center;
}



.App-link {
  color: #61dafb;
}
